  <!-- wrap = nav+first+center+footer -->
        <div class="wrap">
            <!-- 상단 간격 조정 -->
            <div id="sub_nav"></div>
            <!-- first div를 50% 주황색 / img를 first div랑 겹치기 -->
            <div id="sub_first">
                <img class="firstimg" src="/assets/title.png">
            </div>
           
            <!-- center : Email주소 -->
            <div id="center">
                <div id="printarea">
                    <img class="sub_outer" src="/assets/cover_dankook.jpg" width="790" height="1110">
                </div>
                <!-- input입력란 -->
                <div class="heightadjust"></div>
             
            </div>
         
   
    </body>
     
     