<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
<link href="css/bootstrap.min.css" rel="stylesheet">
<script src="js/abc.js"></script>


<div class="wrap">
<!-- 상단 간격 조정 -->
<!-- first div를 50% 주황색 / img를 first div랑 겹치기 -->
    <div id="first">
        <img id="maintop" class="firstimg" src="/assets/title.png">
    </div>

<!-- center : report -->
    <div id="center">
        <div id="printarea"  >
            <img class="outer" id="wfrm" src="/assets/cover_main.jpg" >
        </div>
<!-- input입력란 -->
        <div class="heightadjust"></div>
            <div class="formup0">
                <form action="/cmr/rprint" method="post">
                <select name="policySelect" onchange="choice(value)" class="formup1 formmain">                         
                <option value="0" selected="selected">학교를 선택해주세요!</option>
                <option value="1" >가천대학교</option>                      
                <option value="2" >가톨릭대학교</option>
                <option value="3" >강원대학교</option>
                <option value="4" >건국대학교</option>
                <option value="5" >경기대학교</option>
                <option value="6" >경동대학교</option>
                <option value="7" >경북대학교</option>
                <option value="8" >경일대학교</option>
                <option value="9" >경희대학교</option>
                <option value="10" >계명대학교</option>
                <option value="11" >계명문화대학교</option>
                <option value="12" >고려대학교</option>
                <option value="13" >광운대학교</option>
                <option value="14" >광주여자대학교</option>
                <option value="15" >국민대학교</option>
                <option value="16" >단국대학교</option>
                <option value="17" >대구보건대학교</option>
                <option value="18" >대림대학교</option>
                <option value="19" >동국대학교</option>
                <option value="20" >동의과학대학교</option>
                <option value="21" >명지대학교</option>
                <option value="22" >백석대학교</option>
                <option value="23" >부산대학교</option>
                <option value="24" >부천대학교</option>
                <option value="25" >삼육대학교</option>
                <option value="26" >서강대학교</option>
                <option value="27" >서울과학기술대학교</option>
                <option value="28" >서울교육대학교</option>
                <option value="29" >서울시립대학교</option>
                <option value="30" >서울여자대학교</option>
                <option value="31" >성결대학교</option>
                <option value="32" >성신여자대학교</option>
                <option value="33" >수원대학교</option>
                <option value="34" >숙명여자대학교</option>
                <option value="35" >숭실대학교</option>
                <option value="36" >신구대학교</option>
                <option value="37" >안동대학교</option>
                <option value="38" >연성대학교</option>
                <option value="39" >연세대학교</option>
                <option value="40" >영남대학교</option>
                <option value="41" >원광대학교</option>
                <option value="42" >이화여자대학교</option>  <!-- <참고 이거 수정해야함. 논리식 작성  id number 우선 작성 -->
                <option value="43" >인천대학교</option>
                <option value="44" >인하대학교</option>
                <option value="45" >전북대학교</option>
                <option value="46" >전주대학교</option>
                <option value="47" >중앙대학교</option>
                <option value="48" >충북대학교</option>
                <option value="49" >한국외국어대학교</option>
                <option value="50" >한남대학교</option>
                <option value="51" >한세대학교</option>
                <option value="52" >한신대학교</option>
                <option value="53" >한양대학교</option>
                <option value="54" >협성대학교</option>
                <option value="55" >홍익대학교</option>
                </select>
                <br>
                <input type="text" class="formup1 sub1" name="subject" required><br>
                <input type="text" class="formup1 sub2" name="professor" required><br>
                <input type="text" class="formup1 sub3" name="major" required><br>
                <input type="text" class="formup1 sub4" name="year" required ><br>
                <input type="text" class="formup1 sub5" name="stnumb" required><br>
                <input type="text" class="formup1 sub6" name="username" required><br>
                <input type="date" class="formup1 sub7" name="day" max="2115-02-01" required><br>
                <input type="submit"  style="margin-top:12px; width:130px" class="adj btn btn-success" value="&nbsp;&nbsp;출&nbsp;력&nbsp;&nbsp;" >
                </form>   
            </div>
    </div>


<!----- 개발자 소개 made by ----->
<aside class="callout">
    <div class="text-vertical-center">
        <img class="maketh" src="/assets/slogan.png" style="width:500px; height:60px">
        <div class="intro_makers" style="display">
            <div class="maker_item col-md-4 col-sm-4 col-xs-12" >
                <img class="img_makers" src="/assets/jaewon.jpg" alt=""><br><br><br><br><br><br><br><br>
                <div class="section_makers_info">
                    <div class="makers_info">
                        <p class="maker_name">한재원</p>
                        <p class="maker_role">단국대학교 화학공학과</p>
                    </div>
                    <div class="makers_info">
                        <p class="label_info">Role</p>
                        <p class="content_info">기획, 디자인</p>
                    </div>
                    
                    <div class="makers_info">
                        <p class="label_info">Nickname</p>
                        <p class="content_info">판교폭격기</p>
                    </div>
                    <div class="makers_info">
                        <p class="label_info">A word</p>
                        <p class="content_info">표지가 리포트를 만든다.</p>
                    </div>
                    <div class="makers_info line">
                        <p class="label_info">Contact</p>
                        <p class="content_info">
                            <a href="https://www.facebook.com/jxwonah"><img style="height:25px; width:25px; "src="/assets/facebook.png"></a>
                            <a href=""><img style="width:25px; height:25px;" src="/assets/insta.png"  style="margin-left:10px"></a>
                        </p>
                    </div>
                                
                </div>
                    <!--/.section_makers_info -->
            </div>
                <!--/.maker_item-->
            
            <div class="maker_item col-md-4 col-sm-4 col-xs-12">
                <img class="img_makers" src="/assets/k.jpeg" alt=""><br><br><br><br><br><br><br><br>
                <div class="section_makers_info section_makers_info_side">
                    <div class="makers_info">
                        <p class="maker_name">김연우</p>
                        <p class="maker_role">단국대학교 경제학과</p>
                    </div>
                    
                    <div class="makers_info">
                        <p class="label_info">Role</p>
                        <p class="content_info">개발, CTO</p>
                    </div>
                    
                    <div class="makers_info">
                        <p class="label_info">Nickname</p>
                        <p class="content_info">연우신</p>
                    </div>
                    <div class="makers_info">
                        <p class="label_info">A word</p>
                        <p class="content_info">여러분 사랑합니다♥</p>
                    </div>
                    <div class="makers_info line">
                        <p class="label_info">Contact</p>
                        <p class="content_info"> 
                            <a href=""><img style="height:25px; width:25px; "src="/assets/facebook.png"></a>
                            <a href=""><img style="width:25px; height:25px;" src="/assets/insta.png"  style="margin-left:10px"></a>
                        </p>
                    </div>
                                   
                </div>
                    <!--/.section_makers_info -->
            </div>
                <!--/.maker_item-->
            
            <div class="maker_item col-md-4 col-sm-4 col-xs-12 ">
                <img class="img_makers" src="/assets/sangbeom.jpg" ><br><br><br><br><br><br><br><br>
                <div class="section_makers_info">
                    <div class="makers_info">
                        <p class="maker_name">박상범</p>
                        <p class="maker_role">단국대학교 경영학과</p>
                    </div>
                    
                    <div class="makers_info">
                    <p class="label_info">Role</p>
                    <p class="content_info">개발, 마케팅</p>
                    </div>
                    
                    <div class="makers_info">
                        <p class="label_info">Nickname</p>
                        <p class="content_info">경기북부 통합 원빈</p>
                    </div>
                    <div class="makers_info">
                        <p class="label_info">A word</p>
                        <p class="content_info">리포트, 아직 한장 남았다.</p>
                    </div>
                    <div class="makers_info line">
                        <p class="label_info">Contact</p>
                        <p class="content_info">
                            <a href="https://www.facebook.com/beeoomp"><img style="height:25px; width:25px; "src="/assets/facebook.png"></a>
                            <a href="https://instagram.com/beombampatrk/"><img style="width:25px; height:25px;" src="/assets/insta.png" style="margin-left:10px"></a>
                        </p>
                    </div>
                </div>
                <!--/.section_makers_info -->      
           </div>
                <!--/.maker_item-->                   
        </div> 
        <!-- /.intro_makers -->
    </div>
        <!--/.text-vertical-center-->
</aside>


<div class="orangea" style="background-color:black; color:white;font-size:15px; padding-left:30px;">
    <p>현재까지 <%= @total_view_count%>명의 대학생이 CovermyReport를 방문하였습니다♥</p> 
</div>


