<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
<link href="css/bootstrap.min.css" rel="stylesheet">

<script src="js/abc.js"></script>


<div class="wrap">
<!-- 상단 간격 조정 -->

<!-- first div를 50% 주황색 / img를 first div랑 겹치기 -->
<div id="first">
<img id="maintop" class="firstimg" src="/assets/title.png">
</div>

<!-- center : Email주소 -->
<div id="center">
<div id="printarea"  >
<img class="outer" id="wfrm" src="/assets/cover_main.jpg" >
</div>

<!-- input입력란 -->

<div class="heightadjust"></div>



<div class="formup0">

<form action="/cmr/rprint" method="post">
<select name="policySelect" onchange="choice(value)" class="formup1 formmain">                         
<option value="0" selected="selected">학교를 선택해주세요!</option>
<option value="1" >가천대학교</option>                      
<option value="2" >가톨릭대학교</option>
<option value="3" >강원대학교</option>
<option value="4" >건국대학교</option>
<option value="5" >경기대학교</option>
<option value="6" >경동대학교</option>
<option value="7" >경북대학교</option>
<option value="8" >경일대학교</option>
<option value="9" >경희대학교</option>
<option value="10" >계명대학교</option>
<option value="11" >계명문화대학교</option>
<option value="12" >고려대학교</option>
<option value="13" >광운대학교</option>
<option value="14" >광주여자대학교</option>
<option value="15" >국민대학교</option>
<option value="16" >단국대학교</option>
<option value="17" >대구보건대학교</option>
<option value="18" >대림대학교</option>
<option value="19" >동국대학교</option>
<option value="20" >동의과학대학교</option>
<option value="21" >명지대학교</option>
<option value="22" >백석대학교</option>
<option value="23" >부산대학교</option>
<option value="24" >부천대학교</option>
<option value="25" >삼육대학교</option>
<option value="26" >서강대학교</option>
<option value="27" >서울과학기술대학교</option>
<option value="28" >서울교육대학교</option>
<option value="29" >서울시립대학교</option>
<option value="30" >서울여자대학교</option>
<option value="31" >성결대학교</option>
<option value="32" >성신여자대학교</option>
<option value="33" >수원대학교</option>
<option value="34" >숙명여자대학교</option>
<option value="35" >숭실대학교</option>
<option value="36" >신구대학교</option>
<option value="37" >안동대학교</option>
<option value="38" >연성대학교</option>
<option value="39" >연세대학교</option>
<option value="40" >영남대학교</option>
<option value="41" >원광대학교</option>
<option value="42" >이화여자대학교</option>  <!-- <참고 이거 수정해야함. 논리식 작성  id number 우선 작성 -->
<option value="43" >인천대학교</option>
<option value="44" >인하대학교</option>
<option value="45" >전북대학교</option>
<option value="46" >전주대학교</option>
<option value="47" >중앙대학교</option>
<option value="48" >충북대학교</option>
<option value="49" >한국외국어대학교</option>
<option value="50" >한남대학교</option>
<option value="51" >한세대학교</option>
<option value="52" >한신대학교</option>
<option value="53" >한양대학교</option>
<option value="54" >협성대학교</option>
<option value="55" >홍익대학교</option>
</select>
<br>

<input type="text" class="formup1 sub1" name="subject" required><br>
<input type="text" class="formup1 sub2" name="professor" required><br>
<input type="text" class="formup1 sub3" name="major" required><br>
<input type="text" class="formup1 sub4" name="year" required ><br>
<input type="text" class="formup1 sub5" name="stnumb" required><br>
<input type="text" class="formup1 sub6" name="username" required><br>
<input type="date" class="formup1 sub7" name="day" max="2115-02-01" required><br>
<input type="submit"  style="margin-top:12px; width:130px" class="adj btn btn-success" value="&nbsp;&nbsp;출&nbsp;력&nbsp;&nbsp;" >
    
</form>   



</div>



</div>


<!-- footer : 프린트버튼, 보내기버튼 -->
<!--
<div id="footer">
<div class="col-md-4"></div>
<div class="centere col-md-4">
<a onclick="javascript:print(document.getElementById('printarea').innerHTML)"><img class="printbutton" src="/assets/button_print.jpg"></a>
<img class="sendbutton" type="button" src="/assets/button_send" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
<div class="modal-dialog" role="document">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
<h4 class="modal-title" id="exampleModalLabel">메일로 표지를 전송해드립니다.</h4>
</div>
<div class="modal-body">

<form>
<div class="form-group">
<label for="message-text" class="control-label">받을 메일 주소</label>
<textarea class="form-control" id="message-text"></textarea>
</div>
<div class="modal-footer">
<button type="submit" class="btn btn-primary">전송</button>
<button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
</form>
</div>

</div>
</div>
</div>
</div>
</div>

<div class="col-md-4"></div>


</div> 
-->

<!----- 개발자 소개 made by ----->



<aside class="callout">
<div class="text-vertical-center">

<img class="maketh" src="/assets/slogan.png">

<div class="intro_makers" id="makers" style="display">

    
    <div id="intro_container">
    
    <div class="maker_item col-md-4 col-sm-4 col-xs-12" id=intromakers >
        <img class="img_makers" src="/assets/jaewon.jpg" alt="">
        <div class="section_makers_info">
        <div class="makers_info">
        <p class="maker_name">한재원</p>
        <p class="maker_role">단국대학교 화학공학과</p>
        </div>
        <div class="makers_info">
        <p class="label_info">Role</p>
        <p class="content_info">기획, 디자인</p>
        </div>
        
        <div class="makers_info">
        <p class="label_info">Nickname</p>
        <p class="content_info">판교폭격기</p>
        </div>
        <div class="makers_info">
        <p class="label_info">A word</p>
        <p class="content_info">표지가 리포트를 만든다.</p>
        </div>
        <div class="makers_info" id="line">
        <p class="label_info">Contact</p>
        <p class="content_info">
        <a href="https://www.facebook.com/jxwonah"><i class="fa fa-facebook-official fa-2x"></i></a>
        
        <a href=""><i class="fa fa-instagram fa-2x"  style="margin-left:10px"></i></a>
        </p>
        </div>
        
        
        </div>
    </div>
    
    <div class="maker_item col-md-4 col-sm-4 col-xs-12">
    <img class="img_makers" src="/assets/yeonwoo.png" alt="">
    <div class="section_makers_info section_makers_info_side">
    <div class="makers_info">
    <p class="maker_name">김연우</p>
    <p class="maker_role">단국대학교경제학과</p>
    </div>
    
    <div class="makers_info">
    <p class="label_info">Role</p>
    <p class="content_info">개발, CTO</p>
    </div>
    
    <div class="makers_info">
    <p class="label_info">Nickname</p>
    <p class="content_info">연우신</p>
    </div>
    <div class="makers_info">
    <p class="label_info">A word</p>
    <p class="content_info">어디로 가야하죠 아저씨</p>
    </div>
    <div class="makers_info" id="line">
    <p class="label_info">Contact</p>
    <p class="content_info"> 
   
    <a href=""><i class="fa fa-facebook-official fa-2x"></i></a>
    
    <a href=""><i class="fa fa-instagram fa-2x"  style="margin-left:10px"></i></a>
     </p>
    </div>
    
    
   
    </div>
    </div>
    <div class="maker_item col-md-4 col-sm-4 col-xs-12 ">
    <img class="img_makers" src="/assets/sangbeom.jpg" >
    <div class="section_makers_info">
    
    <div class="makers_info">
        <p class="maker_name">박상범</p>
        <p class="maker_role">단국대 경영학과</p>
    </div>
    
    <div class="makers_info">
    <p class="label_info">Role</p>
    <p class="content_info">개발, CMO</p>
    </div>
    
    <div class="makers_info">
    <p class="label_info">Nickname</p>
    <p class="content_info">원빈</p>
    </div>
    <div class="makers_info">
        <p class="label_info">A word</p>
        <p class="content_info">이거 방탄표지야</p>
    </div>
    <div class="makers_info" id="line">
        <p class="label_info">Contact</p>
        <p class="content_info">
        
            <a href="https://www.facebook.com/beeoomp"><i class="fa fa-facebook-official fa-2x"></i></a>
        
        
            <a href="https://instagram.com/beombampatrk/"><i class="fa fa-instagram fa-2x" style="margin-left:10px"></i></a>
        </p>
        </div>
        
    
    </div>
    </div>
    </div> 
    <!-- /.intro_container -->
    
</div> 
<!-- /.intro_makers -->

</div>
</aside>






