// Place all the styles related to the cmr controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* css주석처리 wrap > nav/first/center/footer로 구성 */


body#p_page3 {
    background-color: white;
}

.wrap {
    height:1240px;

}



#first {
    text-align:center;
    height:700px;
    background-color:#F8AE5E;
}


.firstimg {
    width:700px;
    height:300px;
    
}

#center {
    text-align:center;
    position:relative;
  
    left:7px;
    top:-455px;
    height:600px;
   
}

.heightadjust {
     height:93px;
}

input[type="text"] {
    width:130px;
    margin-right:30px;
    height:22px;
}

input[type="date"] {
    width:130px;
    margin-right:30px;
    height:22px;
}


.formup0 {
    position:relative;
    margin-top:15px;
    left:0px;
    top:-450px;
    z-index:3;
}

.formup1 {
    margin-left:420px;
}


.sub1 {
    margin-top:14px;
}

.sub2 {
    margin-top:15px;
}

.sub3 {
    margin-top:15px;
}

.sub4 {
    margin-top:15px;
}

.sub5 {
    margin-top:15px;
}
.sub6 {
    margin-top:15px;
}
.sub7 {
    margin-top:15px;
}

.outer {
    width:600px;
    height:842px;
    
    box-shadow: 0 15px 10px #777;
}

#footer {
    position:relative;
    top:400px;    
    height: 200px;
    background-color: #F8AE5E;
}

#exampleInputName2 {
    width:300px;
    margin-left: 30px;
    height: 50px;
}


.sendbutton {
    width: 120px;
    height: 120px;
}
    
.printbutton {
    width: 120px;
    height: 120px;
    
    
}
.form-inline {
    text-align: center;
    position:relative;
    top:100px;
    left:-10px;
}
.form-control {
     border: 3px solid #b4b4b4;  
}

.sendbutton {
    margin-left:25px;
}

.centere {
    text-align : center;
}

div#center {
    left:0px;
}


/* 여기부터는 서브페이지 즉, 각 학교별 표지 페이지 css입니다. */

#sub_first {
     text-align:center;
    height:700px;
    background-color: white;
    position:relative;

}

.sub_outer {
    width:600px;
    height:842px;
    border : 1px black solid;
    
}


.hele {
    margin-top:6px;
    font-size:17px;
}

.formupup {
    margin-top:91px;
}
.hele1 {
    margin-top:5px;
}
.hele2 {
    margin-top:13px;
}
.hele3 {
    margin-top:13px;
}

.hele4 {
    margin-top:13px;
}

.hele5 {
    margin-top:13px;
}

.hele6 {
    margin-top:13px;
}

.hele6 {
    margin-top:13px;
}


.btn { 
    margin-top:20px;
}
.adj {
    margin-left:390px;
   
}



.formmain {
    margin-right:99px;
    width:208px;
    font-size:15px;
}


.wid {
    margin-left:10px;
}

.bottomintro {
    margin-left:10px;
}


/*   개발자 소개   */

.howtouse {
    text-align: center;
    font-weight: 700;
    font-size: 60px;
    color: black;
    padding-top:50px;
    padding-bottom:0px;
}

.intro_makers {
    padding-left: 0px;
    padding-top: 0px;
    width: 100%;
    height:0px;
    float: left;
   
}



.intro_title>p {
    position: relative;
    text-align: center;
    font-size: 60px;
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: white;
    font-weight: 700;
    padding-top: 20px;
    padding-left: 20px;
}

#intro_container {
    position: relative;   
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 40px;
    width: 100%;   
    float: left;
    left: 0px;
    top: 900px;
    
}
div {
    display: block;
}
.maker_item {
    position: relative;
    padding: 0px;
    left:0px;
    float: left;
    
    
}

div {
   font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.img_makers {
    position: relative;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin-top: 12px;
    float: left;
    left: 110px;
    box-shadow: 3px 3px 25px 3px white;
}
div {
    display: block;
}

.section_makers_info {
    margin-top: 36px;
    margin-left: 30px;
    padding-left: 7px;
    padding-right: 7px;
    width: 300px;
    cursor: default;
   
    border-radius: 10px;
    background-color: transparent;
    float: left;
}

div {
    display: block;
}

.section_makers_info > .makers_info:first-child {
    border-bottom: 4px dotted white;
}
#line {
    border-bottom: 4px solid white;
    height:38px;
    
    
   
}
.makers_info {
    width: 100%;
    height: 25px;
    
    
    float: left;
}

div {
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.makers_info>p {
    margin: 0px;
    color: white;
    line-height: 25px;
    font-weight: lighter;
    float: left;
}

.maker_name {
    font-size: 11pt;
}

.maker_role {
    padding-left: 15px;
    font-size: 10pt;
    font-family: 'helvetica';
    opacity: .7;
}

.label_info {
    width: 100px;
    font-size: 11pt;
    font-weight:700;
}


.content_info {
    font-size: 11pt;
}

#intro_container {
    position: relative;
    top: -450px;
    padding-left:20px;
    padding-right:20px;
}


/* aside *//////////////////////////////////
.callout {
    display: table;
    width: 100%;
    height: 500px;
    color: #fff;
    background: url(/assets/study.jpg) no-repeat center center scroll;
}

.text-vertical-center {
    position: relative;
    display: table-cell;
    text-align: center;
    vertical-align: top;
    top:30px;
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.maketh {
    height:80px;
}

.text-vertical-center h1 {
    margin: 0;
    padding: 0;
    font-size: 4.5em;
    font-weight: 700;
}


/* contact *//////////////////////////////
.contactus {
    text-align: center;
    font-weight: 700;
    font-size: 60px;
    color: black;
    padding:0px;
    padding-bottom:100px;
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
    
}

.logo1 {
    position:relative;
    width:179px;
    height:40px;
    float:left;
    left:500px;
    top:80px;
}
.logo2 {
    position:relative;
    width:179px;
    height:40px;
    float:left;
    left:550px;
    top:80px;
}
.dogsound {
    position:relative;
    float:left;
    top:0px;
}
.fa {
    position:relative;
    float:left;
    left:10px;   
    top:0px;
    padding:0px;

}
.fb {
    position:relative;
    float:left;
    padding:0px;
}
.insta {
    position:relative;
   
    float:left;
    padding:0px;   
}


#makers {
    
    position:relative;
    float:left;
    top: 430px;
}